<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Black Jack</title>
</head>

<body>
	<h3 align="center">Croupiers Cards:</h3>
	<div align="center">
		<span>
			<img src="/images/0x.png" alt="error" />
		</span>
		<span>
			<img src="/images/0x.png" alt="error" />
		</span>
		<br><br>
		<h5>Croupiers sum: </h5>
		<h5> </h5>
	</div>
	<br><br>
	<hr>
	<br><br>
	<h3 align="center">Players Cards:</h3>
	<div align="center">
		<span>
			<img src="/images/0x.png" alt="error" />
		</span>
		<span>
			<img src="/images/0x.png" alt="error" />
		</span>
		<br><br>
		<h5>Players sum: </h5>
		<h5> </h5>
	</div>

	
	<br>
	<div align="center">
				<p>You have </p>
				<p>How much would you like to bet?
			
				<form action="newGame" >
					<input type="hidden" name="test" value="10"/>
					<input type="submit" value="10"
					class="btn btn-primary btn-sm mb-3"/>
				</form>
			
				<form action="newGame" >
					<input type="hidden" name="test" value="50"/>
					<input type="submit" value="50"
					class="btn btn-primary btn-sm mb-3"/>
				</form>
			
				<form action="newGame" >
					<input type="hidden" name="test" value="100"/>
					<input type="submit" value="100"
					class="btn btn-primary btn-sm mb-3"/>
				</form>
			
	</div>
	<div>
		<a th:href="@{/bet}"
			class="btn btn-primary btn-sm ml-3">
			New Game
		</a>
	</div>


</body>
</html>